/* Custom styles can be added here if needed. All core layouts and animations are configured in the HTML engine. */
body {
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
